.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 0;
  border: 10px solid black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 750px;
  width: 450px;
}

@media only screen and (min-width: 1401px) {
  .body {
    padding-top: 150px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1400px) {
  .body {
    padding-top: 150px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .body {
    padding-top: 150px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .body {
    padding-top: 150px;
  }
}

#iphoneBase {
  height: 750px;
  width: 450px;
}

#wallpaper {
  border: 2px solid black;
  background-image: url(./assets/wallpapers/default-wallpaper.png);
  padding: 20px;
}
